<a href="https://colab.research.google.com/github/Rakib-datascince/Rakib-datascince/blob/main/1st_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""Assignment no. 1


 Ques no. 1 In the below elements which of them are values or an expression ? eg:- values can be integer or string and expression will be mathematical operators. *,'hello',-87.8, -, /,+,6

Ans:- There are a total 4 expression and 3 value, They are: Value:-'hello' , -87.8 , 6 Expression:- * , - , / , +

Ques no. 2 What is the difference between string and variable ? 
Ans :- A variable is used to store the imformation , and string is a type of information you would store in a variable. A string is group of characters or a single characters 
       usually enclosed in double quotes " " and a single squotes ' '

Ques no. 3 Describe three types of datatypes?
Ans :- Three fundamental Data types in python are int, float, and complex. (1) int data type : we can use int data type to represent whole numbers (integral values) 
       example: 4,5,6 (2) float data type : we can use float datatype to represent floating point values (decimal values) example: 3.44,3.22,6.44 (3) complex data 
       type: complex number is representd by complex class. It is specified as (real) + (imaginary part) example: 10+1.5j"""

In [ ]:
#example of int  datatype 
int_num = 345
print(int_num, type(int_num))
#example of float datatype
flo_num = 1.44
print(flo_num,type(flo_num))
#example of complex num
com_num = 12+1.5j
print(com_num, type(com_num))

In [ ]:
""" 
Ques no. 4 What is an expression made up of ? What do all expression do?
Ans:- An expression is a combination of values , variable , operator, and calls to functions. Expression need to be evaluated. If we ask python to print an expression
      the interpreter evaluates the expression and displays the result.

Ques no. 5 This assignment statements , like spam = 10. What is the difference between an expression and a statement ?
Ans:- An expression is a combination of values , variables, and operators. Whe we type an expression at the prompt , the interpreter evaluates it, which means that it 
      finds the value of the expression 

      eg: 3*5+34-55 is an example of statement 

      A statement is a unit of code that has an effect, like creating a variable or displaying a value. When we type a statement , the interpreter executes it which means 
      that it does whatever the statement says . In general, statement don't have values .

      eg:- variable declaration and assingment are statements becauese they do not return a value


Ques no. 6 After running the following code, what does the varible bacon contain?
      bacon = 22 
       bacon = +

Ans:- The variable bacon is set to 22 . The expression bacon + 1 does not reassing the value in bacon ( that would the case if the expression   is like bacon = 
        bacon + 1 instead of bacon + 1)    

                            """

' \nQues no. 4 What is an expression made up of ? What do all expression do?\nAns:-                             \n                            '

In [ ]:
#Example Case 1
bacon = 22 
bacon+1
print(bacon)

22

In [ ]:
#Example case 2 
bacon = 22 
bacon = bacon + 1
print(bacon)

23

In [ ]:
"""
Ques no. 7 What should the values of the following two terms be ?
     'spam' + 'spamspam'
     'spam'*3
     
Ans:- Both expression evaluate to the string 'spamspam' Where as the first expression follows String Concatenation and the second expression follows String Multiplication
                              """

In [ ]:
print('spam' + 'spamspam')#string concatenation 
print ('spam'*3)#string multiplication

spamspamspam
spamspamspam

In [ ]:
"""
Ques no. 8 Why is eggs a valid variable name while 100 is invalid ?
Ans:- as per python , Variable names cannot begin with a number . The python rules for naming a variable are:-
1. Variable name must start with a letter or the underscore character. 
2. Variable name cannot start with number .
3. Varible name can only contain alpha-numerica characters and underscores (A-z, 0-9, and _)
4. Variable names are case sensitive .
5. The reserved words cannot be use naming the variable. 


Ques no. 9 What three functions can be used to get the integer , floating-point number, or string version of a value?
Ans:- The int(), float(),and str(), fuctions will evaluate to the integer, floating-number , string version of the value passed to them .


Ques no. 10 Why does this expression cause an error? how can you fix it? 
         'I have eaten ' + 99 + 'burritos '
Ans:- This cause of error is 99. because 99 is not a string.99 must be typecasted to string to fix this error . The correct way is:
      'I have eaten ' + str(99) + 'burritos'
"""

In [ ]:
print('I have eaten '+ str(   99  )  + '   burritos')

I have eaten 99   burritos